

/* * {
    background-image: url(./assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
} */


/* .navbar {
    background-color: #000000;
} */

body {
    font-family: 'Poppins', sans-serif;   
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-position: center; 
    height: 550px; 

}


/*
.bgimg {
     background-image: url(./assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 70px;
    margin-left: 0px;
    margin-right: -10px;
    width: 1280px;
    height: 530px;
    position: absolute;
} */

/* .bgimg {
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-position: center; 
    height: auto;
} */


nav {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: flex;
    background-color: #000000;
    /* margin-bottom: 0px; */
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -7px;
    height: 70px;

    /* position: absolute;
    opacity: 0.9; */
}

.navbar > div > img {
    width: 100px;
    margin-left: 30px;
    margin-top: 20px;
}

.line {
    width: 2px;
    height: 50px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 70px;
}


.list {
    display: flex;
}

.list-item {
    list-style: none;
    margin: 20px;
    color: #ffffff;
    margin-top: 10px;
}


.button-small {
    margin-top: 20px;
    /* margin-right: -1000px; */
    /* background-color: #da2fd1; */
    background-color: #bf07c1;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
    padding: 7px 20px;
    margin-left: 320px;
    border: none;
    
}



.hero {
    color: #ffffff;

}


.hero-heading {
    font-size: 50px;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    margin-left: 320px;
    margin-right: 400px;
}


.hero-description {
    margin-top: -30px;
    margin-left: 420px;
    margin-right: 400px;
}


.button-large {
    /* background-color: #da2fd1; */
    background-color: #bf07c1;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 40px;
    border: none;
    font-size: 15px;
    margin-left: 470px;
    font-weight: bold;

}



